* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Roboto ;
}

a:link {
  text-decoration: none;
}

/* Navbar Section */
.navbar-container {
  color: white;
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  padding: 15px 0px;
}

.navbar-contents {
  width: 900px;
  display: flex;
  justify-content: space-between;
}
.links {
  font-size: 18px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.link-one,
.link-two,
.link-three {
    color: white
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

/* hero section */

.hero-container {
  /* border: 1px solid #fff;  */
  display: flex;
  justify-content: center;
  color: white;
  background-color: #1F2937;
  padding: 50px 0px;
}
.hero-contents {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-left-side {
  width: 400px;
}

.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}
.hero-secondary-text {
  font-size: 18px;
  padding: 15px 0px;
}

.butt {
  color: white;
  font-size: 20px;
  background-color: #3882f6;
  padding: 4px 26px;
  border: none;
  outline: none;
  border-radius: 6px;
}

.hero-img-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 400px;
  height: 200px;
}

/* random info section */
.random-title {
  color: #1f2937;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bolder;
}

.info-container {
  color: #1f2937;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
.info-content {
  max-width: 200px;
}
.info-text {
  padding: 11px 0px;
}

.info-placeholder {
  border: 4px solid #3882f6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

/* quote section */
.quote-container {
  border: 1px solid black; 
  display: flex;
  /* padding: 100px 50px; */
  /* font-size: 36px; */
  /* font-weight: 200; */
  /* font-style: italic; */
  /* background-color: #e5e7eb; */
}
.quote {
  width: 900px;
}

